{{define "title"}}Home{{end}}
    {{define "main"}}
      <main>
         <section id="urlbox">
            <h1>Paste the URL to be shortened</h1>
            <form action="shortener.php" method="post">
               <div id="formurl">
                  <input type="text" name="longURL" placeholder="Enter the link here">
                  <div id="formbutton">
                     <input type="submit" value="Shorten URL">
                  </div>
               </div>
            </form>
         </section>
      </main>
{{end}}
