{{define "title"}}View shortlinks{{end}}
    {{define "main"}}
    <h2>Your Links</h2>
    {{if .ShortLinks}}
        <table>
            <tr>
                <th>ID</th>
                <th>Short Code</th>
                <th>Original Url</th>
                <th>Created</th>
            </tr>
            {{range .ShortLinks}}
            <tr>
                <td>#{{.ID}}</td>
                <td><a target=”_blank” href='/link/redirect/{{.ShortCode}}'>{{.ShortCode}}</a></td>
                <td>{{.OriginalURL}}</td>
                <td>{{humanDate .Created}}</td>
                <td>
                    <form action='/link/delete/{{.ShortCode}}' method='POST'>
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {{end}}
        </table>
        {{else}}
            <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}
