{{define "nav"}}
<nav>
    <div>
        <a href='/'>Home</a>
        <!-- Toggle the link based on authentication status -->

            <a href='/link/show/links'>View Shorts</a>
        <!-- Toggle the link based on authentication status -->
    </div>
        <!-- Toggle the links based on authentication status 
    <div>
            <form action='/user/logout' method='POST'>
            <button>Logout</button>
            </form>
            <a href='/user/signup'>Signup</a>
            <a href='/user/login'>Login</a>
    </div>
-->
</nav>
{{end}}
